/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
	overflow: hidden;
	padding: 80px 0;
  }
  
  .section-bg {
	background-color: #eee;
  }
  
  .section-header {
	text-align: center;
	padding-bottom: 30px;
  }
  
  .section-header h2 {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: #7f7f90;
	text-transform: uppercase;
	font-family: var(--font-default);
  }
  
  .section-header p {
	margin: 0;
	font-size: 48px;
	font-weight: 400;
	font-family: var(--font-primary);
  }
  
  .section-header p span {
	color: var(--color-primary);
  }

  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
	background:  #00008B;
	transition: all 0.5s;
	z-index: 997;
	height: 90px;
	border-bottom: 1px solid #fff;
  }
  
  @media (max-width: 575px) {
	.header {
	  height: 70px;
	}
  }
  
  .header.sticked {
	border-color: #fff;
	border-color: #eee;
  }
  
  .header .logo img {
	max-height: 70px;
	max-width: 200px;
   margin-left: 80px;
  }
  
  .header .logo h1 {
	font-size: 18px;
	font-weight: 700;
	color: #00008B;
	margin: 0;
	font-family: "Brush Script MT";
  }
  
  .header .logo h1 span {
	color: var(--color-primary);
  }
  
  .header .btn-book-a-table,
  .header .btn-book-a-table:focus {
	font-size: 14px;
	color: #fff;
	background: var(--color-primary);
	padding: 8px 20px;
	margin-left: 30px;
	border-radius: 0px;
	transition: 0.3s;
  }
  
  .header .btn-book-a-table:hover,
  .header .btn-book-a-table:focus:hover {
	color: #fff;
	background: rgba(206, 18, 18, 0.8);
  }
  
  section {
	scroll-margin-top: 90px;
  }
  
  /*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
  @media (min-width: 1280px) {
	.navbar {
	  padding: 0;
	  background-color: #00008B;
	}
  
	.navbar ul {
	  margin: 0;
	  padding: 0;
	  display: flex;
	  list-style: none;
	  align-items: center;
	}
  
	.navbar li {
	  position: relative;
	}
  
	.navbar>ul>li {
	  white-space: nowrap;
	  padding: 10px 0 10px 28px;
	}
  
	.navbar a,
	.navbar a:focus {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  padding: 0 3px;
	  font-family: var(--font-secondary);
	  font-size: 16px;
	  font-weight: 600;
	  color: white;
	  white-space: nowrap;
	  transition: 0.3s;
	  position: relative;
	}
  
	.navbar a i,
	.navbar a:focus i {
	  font-size: 12px;
	  line-height: 0;
	  margin-left: 5px;
	}
  
	.navbar>ul>li>a:before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  bottom: -6px;
	  left: 0;
	  background-color: var(--color-primary);
	  visibility: hidden;
	  width: 0px;
	  transition: all 0.3s ease-in-out 0s;
	}
  
	.navbar a:hover:before,
	.navbar li:hover>a:before,
	.navbar .active:before {
	  visibility: visible;
	  width: 100%;
	}
  
	.navbar a:hover,
	.navbar .active,
	.navbar .active:focus,
	.navbar li:hover>a {
	  color: #000;
	}
  
	.navbar .dropdown ul {
	  display: block;
	  position: absolute;
	  left: 28px;
	  top: calc(100% + 30px);
	  margin: 0;
	  padding: 10px 0;
	  z-index: 99;
	  opacity: 0;
	  visibility: hidden;
	  background: #fff;
	  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	  transition: 0.3s;
	  border-radius: 4px;
	}
  
	.navbar .dropdown ul li {
	  min-width: 200px;
	}
  
	.navbar .dropdown ul a {
	  padding: 10px 20px;
	  font-size: 15px;
	  text-transform: none;
	  font-weight: 600;
	}
  
	.navbar .dropdown ul a i {
	  font-size: 12px;
	}
  
	.navbar .dropdown ul a:hover,
	.navbar .dropdown ul .active:hover,
	.navbar .dropdown ul li:hover>a {
	  color: var(--color-primary);
	}
  
	.navbar .dropdown:hover>ul {
	  opacity: 1;
	  top: 100%;
	  visibility: visible;
	}
  
	.navbar .dropdown .dropdown ul {
	  top: 0;
	  left: calc(100% - 30px);
	  visibility: hidden;
	}
  
	.navbar .dropdown .dropdown:hover>ul {
	  opacity: 1;
	  top: 0;
	  left: 100%;
	  visibility: visible;
	}
  }
  
  @media (min-width: 1280px) and (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
	  left: -90%;
	}
  
	.navbar .dropdown .dropdown:hover>ul {
	  left: -100%;
	}
  }
  



/*Form sections*/
.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Lato', sans-serif;
	background-image: url('../img/flight-2.webp');
	background-size: cover;
	background-position: center;
	color: #191a1e;
}

.booking-form {
	position: relative;
	background: #fff;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 45px 25px 25px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 65px;
	padding: 0px 15px;
	padding-top: 24px;
	color: #191a1e;
	border: 2px solid #dfe5e9;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control::placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:focus {
	background: #f9fafb;
}

.booking-form input[type="date"].form-control:invalid {
	color: #dfe5e9;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #dfe5e9;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	position: absolute;
	top: 6px;
	left: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #4fa3e3;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 700;
	color: #191a1e;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #dfe5e9;
	border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #4fa3e3;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #0047ab;
	font-weight: 400;
	height: 65px;
	font-size: 18px;
	border: none;
	width: 100%;
	border-radius: 4px;
	text-transform: uppercase
}

.booking-cta {
	margin-top: 45px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #0047ab;
	font-weight: 400;
}

.booking-cta p {
	font-size: 22px;
	color: #191a1e;
}